
h1 {
    margin-top: 100px;
    text-align: center;
    margin-top: 15px;
}
ul {
    margin-top: 100px;
    padding-left: 100px;
    display: none; 

}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #4caf50;
    text-align: center;
}

a:hover {
    color: #45a049;
    text-align: center;
}
.result {
    text-align: center;
}
.mis{
    display: flex;
    align-items: center;
    width:100vw;
    flex-direction: column;
}
.tipss{
    width:50%;
    text-align: left;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }